{%extends 'noSliderParent/noSliderParent.html'%}

{%load static%}

{%block styles%}

<link rel="stylesheet" href="{%static 'css/forms.css'%}">

{%endblock%}
{%block pageTitle%}Iniciar Sesión{%endblock%}

{%block title%}iniciar Sesión{%endblock%}

{%block content%}

{%if not errors.validUser%}

<div class="error">
   <p>Datos incorrectos.</p>
</div>

{%endif%}

<form method="POST" action=""> {%csrf_token%}

   <table>
    {{form.as_table}}
   </table>

   <input type="submit" value="Iniciar Sesión">

</form>

{%endblock%}